<%= simple_form_for([@user, @holiday]) do |f| %>

    <%= f.error_notification %>

    <fieldset>
      <legend>Urlaub</legend>
      <ul>
        <li>
          <%= f.input :beginning %>
        </li>
        <li>
          <%= f.input :till %>
        </li>
      </ul>
      <%= f.button :submit %>
    </fieldset>
<% end %>
