<%= render "shared/error_messages", :target => @model_of_consumption %>

<p><%= t "text.consumption_model" %></p><br/>

<%= form_for [@coffee_box, @model_of_consumption] do |f| %>
    <%= field_set_tag "Konsummodell hinterlegen" do %>
        <table id="consumption_table">
          <thead>
          <tr>
            <th>Mo</th>
            <th>Di</th>
            <th>Mi</th>
            <th>Do</th>
            <th>Fr</th>
            <th>Sa</th>
            <th>So</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><%= f.number_field :mo, :min => 0, :step => 1 %></td>
            <td><%= f.number_field :tue, :min => 0, :step => 1 %></td>
            <td><%= f.number_field :wed, :min => 0, :step => 1 %></td>
            <td><%= f.number_field :th, :min => 0, :step => 1 %></td>
            <td><%= f.number_field :fr, :min => 0, :step => 1 %></td>
            <td><%= f.number_field :sa, :min => 0, :step => 1 %></td>
            <td><%= f.number_field :su, :min => 0, :step => 1 %></td>
            <td>Anzahl Tassen</td>
          </tr>
          </tbody>
        </table>
        <div>
          <%= check_box_tag :no_consumption_model %>
          <%= label_tag :no_consumption_model, "Kein Konsummodell", :class => "checkbox inline" %>
          <div class="description"><%= t("text.no_consumption_model")  %></div>
        </div>
        <p id="no_consumption_model">
        </p>
        <p><%= f.submit %></p>
    <% end %>
<% end %>