<%= render "shared/error_messages", :target => @coffee_box %>


<%= form_for @coffee_box do |f| %>
    <%= field_set_tag "Kaffeerunde" do %>
        <ol>
          <li><%= f.label :location %>
            <%= f.text_field :location %></li>
          <li><%= f.label :time %>
            <%= f.time_select :time %></li>
          <li><%= f.label :description %>
            <%= f.text_area :description %></li>
          <li>
            <%= label_tag :price, "Tassenpreis" %>
            <%price = @coffee_box.price_of_coffees.order("date DESC").first.price%>
            <%= number_field_tag :price, price , :min => 0.01, :step => 0.01 %> €
          </li>
          <li><%= f.submit %></li>
        </ol>

    <% end %>
<% end %>



