<script type="text/javascript" charset="utf-8">
    var month = <%= @month %>;
    var year = <%= @year %>;
    var coffee_box_id = <%= @coffee_box.id %>;
    var coffee_price_chart;
    var coffee_cup_consume_chart;
    var coffee_income_expense_chart;
    var consume_by_user_chart;
    $(function () {

        // Coffee-Price Chart
        coffee_price_chart = new Highcharts.Chart({
            chart:{
                renderTo:"coffee_price_chart",
                type:"spline"
            },
            title:{
                text:"Tassenpreis"
            },
            xAxis:{
                type:"datetime"
            },
            yAxis:{
                title:{
                    text:"Euro"
                },
                min:0
            },
            tooltip:{
                formatter:function () {
                    return '<b>' + Highcharts.dateFormat('%b %Y', this.x) + ': </b>' + Highcharts.numberFormat(this.y, 2, ',', '.') + ' €';
                }
            },
            series:[
                {
                    name:"Tassenpreis",
                    data: <%= @coffee_box.get_cup_price_data.inspect %>
                }
            ]
        });

        // Einnahmen / Ausgaben
        coffee_income_expense_chart = new Highcharts.Chart({
            chart:{
                renderTo:"coffee_income_expense_chart",
                type:"area"
            },
            title:{
                text:"Einnahmen / Ausgaben"
            },
            xAxis:{
                type:"datetime"
            },
            yAxis:{
                title:{
                    text:"Euro"
                },
                min:0
            },
            tooltip:{
                formatter:function () {
                    return '<b>' + this.series.name + '</b><br/>' + Highcharts.dateFormat('%b %Y', this.x) + ': ' + Highcharts.numberFormat(this.y, 2, ',', '.') + ' €';
                }
            },
            series:[
                {
                    name:"Einnahmen",
                    data: <%= @coffee_box.get_expenses_data[:incomes].inspect %>
                },
                {
                    name:"Ausgaben",
                    data: <%= @coffee_box.get_expenses_data[:expenses].inspect %>
                }
            ]
        });

        // Coffee-Cup-Consume Chart
        var consume_chart_options = {
            chart:{
                renderTo:"coffee_cup_consume_chart",
                type:"line"
            },
            title:{
                text:"Tassenkonsum"
            },
            xAxis:{
                type:"datetime",
                dateTimeLabelFormat: {
                    day: "%e.%B"
                }
            },
            yAxis:{
                title:{
                    text:"Tassenanzahl"
                },
                min:0
            },
            tooltip:{
                formatter:function () {
                    return '<b>' + Highcharts.dateFormat('%e. %b %y', this.x) + ': </b>' + this.y + ' Tassen am Tag';
                }
            },
            series:[
                {
                    name:"Tassenkonsum pro Tag",
                    data: <%= @coffee_box.get_coffee_cup_consume_data(@month, @year).inspect %>
                }
            ]
        };

        coffee_cup_consume_chart = new Highcharts.Chart(consume_chart_options);

        // Tassenkonsum pro Teilnehmer
        consume_by_user_chart = new Highcharts.Chart({
            chart:{
                renderTo: "coffee_by_user_chart",
                type: "column"
            },
            title:{
                text: "Ewige Tassenhighscore"
            },
            xAxis: {
                categories: ["Tassen"]
            },
            yAxis:{
                title:{
                    text: "Tassen"
                },
                min:0
            },
            tooltip:{
                formatter:function () {
                    return '<b>' + this.series.name + ': </b>' + this.y + ' Tassen';
                }
            },
            series: <%= raw @coffee_box.get_consume_by_user.to_json %>
        })
    });

    function updateConsumeChart(coffee_box_id, year, month) {
        $.getJSON('/coffee_boxes/' + coffee_box_id + "/consume_chart/" + year + "/" + month + ".json", function (data) {
            if (data.length == 0) {
                // Für den Monat sind keine Verbrauchswerte verfügbar
                $("#no_data").text("Für den ausgewählten Monat sind keine Daten verfügbar.");
            } else {
                $("#no_data").text("");
            }
            coffee_cup_consume_chart.series[0].setData(data);
            // Monatsanzeige updaten
            $("#month_year").attr("value", month.toString() + " / " + year.toString());
        });
    }

    $(document).ready(function () {
        $("#next_month").click(function () {
            if (month == 12) {
                month = 1;
                year = year + 1;
            } else {
                month = month + 1;
            }
            updateConsumeChart(coffee_box_id, year, month);
        });

        $("#prev_month").click(function () {
            if (month == 1) {
                month = 12;
                year = year - 1;
            } else {
                month = month - 1;
            }
            updateConsumeChart(coffee_box_id, year, month);
        });

    });


</script>

<% @title = "Kaffeerunde anzeigen" %>


<fieldset>
  <legend>Statistiken</legend>
  <div id="coffee_price_chart" style="height: 300px;"></div>
  <br/>

  <div id="coffee_income_expense_chart" style="height: 300px;"></div>
  <br/>

  <div class="center">
    <span id="prev_month" class="textlink"> < </span>
    <input id="month_year" type="text" disabled="true" value="<%= "#{@month} / #{@year}" %>" size="10"/>
    <span id="next_month" class="textlink"> > </span>

    <div id="no_data"></div>
  </div>


  <div id="coffee_cup_consume_chart" style="height: 300px;"></div>
  <br/>

  <div id="coffee_by_user_chart" style="height: 300px;"></div>
</fieldset>