<%= render "shared/error_messages", :target => @bill %>
<%= form_for([@coffee_box,@bill]) do |f| %>

    <%= field_set_tag "Consumption" do %>
        <ol>
          <li><%= f.label :value %>
            <%= f.text_field :value%></li>
          <li><%= f.label :date %>
            <%= f.date_select :date %></li>
          <li><%= f.submit %></li>
        </ol>

    <% end %>
<% end %>
