<h1>Listing bills</h1>

<table>
  <tr>
    <th>Value</th>
    <th>Ispaid</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bills.each do |bill| %>
  <tr>
    <td><%= bill.userl %></td>
    <td><%= bill.value %></td>
    <td><%= bill.isPaid %></td>
    <td><%= bill.date %></td>
    <td><%= link_to 'Show', coffee_box_bill_path(@coffee_box,bill) %></td>
    <td><%= link_to 'Edit', edit_coffee_box_bill_path(@coffee_box,bill) %></td>
    <td><%= link_to 'Destroy', coffee_box_bill_path(@coffee_box,bill), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bill', new_coffee_box_bill_path %>
