<%= calendar_for @consumptions, year: @date.year, month: @date.month , first_day_of_week: 1 do |calendar| %>
    <%= calendar.head('Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag', 'Sonntag') %>
    <%= calendar.day(:day_method => :day) do |date, consumptions| %>
        <%= date.day %>
        <% for consumption in consumptions %>
            <% if @date.month == consumption.day.month %>
                <% if !consumption.flag_disabled && !consumption.flag_holiday %>
                    <div class="numberOfCups">
                      <%= image_tag("cup.png", id: 'cupPng') %>
                      <%= best_in_place consumption, :number_of_cups, path: coffee_box_consumption_path(@coffee_box, consumption), :html_attrs => {:maxlength => 5, :style => "width:1.5em"} %>
                    </div>
                <% elsif consumption.flag_holiday %>
                    <div class="numberOfCupsDisabled">
                      <%= image_tag("sonne.JPG", id: 'sonneJpg')%> <br/>
                      <div id="inner"> <%= consumption.number_of_cups %></div>
                    </div>
                <% else %>
                    <div class="numberOfCupsDisabled">
                      <%= image_tag("cup.png", id: 'cupPng') %> </br>
                      <div id="inner"> <%=  consumption.number_of_cups %> </div>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
<% end %>
