<!DOCTYPE html>
<html>
<head>
  <title>KaffKass</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application", "highcharts" %>
  <%= javascript_include_tag "application", "themes/skies" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
  <div id="header">
    <h1>KaffKass</h1>
  </div>
  <div id="navibar">
    <span id="navigationbar">
      <% if can? :my_coffee_boxes, CoffeeBox %>
        <%= link_to "meine kaffeerunden", my_coffee_boxes_path, :class => "navibar" %>
        / <%= link_to "kaffeerunde suchen", coffee_boxes_path, :class => "navibar" %>
      <% else %>
         <%= link_to "kaffeerunde suchen", coffee_boxes_path, :class => "navibar" %>
      <% end %>
    </span>
    <span id="userbar">
      <% if current_user %>
        <%= link_to "#{current_user.email}", account_path, :class => "navibar" %>
          / <%= link_to "logout", logout_path, :class => "navibar" %>
      <% else %>
          <%= link_to "login", login_path, :class => "navibar" %>
          / <%= link_to "registrieren", signup_path, :class => "navibar" %>
      <% end %>
    </span>
  </div>

  <% if flash[:notice] %>
      <div id="notice">
        <%= flash[:notice] %>
        <span id="notice-x">X</span>
      </div>
  <% end %>

  <div id="content">
    <% if flash[:alert] %>
        <div id="alert"><%= flash[:alert] %></div>
    <% end %>

    <% if @coffee_box != nil && @coffee_box.id != nil %>
        <%= render partial: "layouts/details" %>
    <% end %>

    <%= yield %>
  </div>
  <div id="footer">
    <p>Studienarbeit Web Engineering, WS 2012/2013, Hochschule München<br/>
      Matthias Karl - Michael Prankl</p>
  </div>
</div>


</body>
</html>
